html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #13151F;
  color: #FFF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-video {
  height: 60vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.main-video img {
  height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.card {
  width: 19.2%;
  height: auto;
  border-radius: 5%;
  margin: 0.4%;
  filter: drop-shadow(5px 5px 10px #000);
}

.video-image {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center;
}

.info {
  position: relative;
  margin-top: 20%;
  margin-left: 50px;
  max-width: 50%;
}
.info button{
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.video-overlay {
  position: absolute;
}

.info-footer {
  height: 100vh;
}

.account-info {
     display: flex;
    align-items: center;
    justify-content: space-between;
     margin: 20px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
}

.franchise {
  width: 15%;
  background-color: #1E2841;
  margin: 5px;
  border-radius: 10px;
}
.video-feed-section{
  display: flex;
}
.video-feed-logo {
  display: flex;
  justify-content: space-around;
}

.logo-wrapper {
  padding: 10px 30px;
  display: flex;
}

.navbar{
  background-image:linear-gradient(to bottom, #141b29, #0c111b 300px);
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.img-card{
  position: relative;
  display: flex !important;
  width: 50%;
  box-sizing: border-box;
  height:50vh;
  padding: 0px 20px 0 20px;
  border-radius: 8px;
  overflow: hidden;
}
.backgroungimg{
  width:50%;
  padding-right: 5vw;
}
.heroslider-container{
  position: relative;
  box-sizing: border-box;
}
.herosliderinfo{
  width: 50%;
  position: absolute;
  top:0;
  left:0;
  z-index: 99;
 padding-right: 10vw;
 padding-left: 5vw;
}
.slider .slick-list{
  margin-left: 0px;
  padding-right: 0vw !important;
  width:80% !important;
}
.herosliderinfo h2{
  font-size: 28px;
  color: #fff;
  font-weight: 600;
}
.herosliderinfo p{
  font-size: 16px;
    padding-top: 10px;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 28px;
}
.herosliderinfo a{
  font-size: 18px;
  font-weight: bold;
}
.slick-prev{
  left:0 !important;
  height:40px !important;
  width: 40px !important;
  z-index: 555;
}
.slick-next{
  right:25px !important;
}
.slick-prev:before, .slick-next:before{
  font-size: 45px !important;
}
/* .slick-arrow{
  visibility: hidden !important;
}
.slick-slider:hover .slick-arrow button{
  visibility: visible !important;
} */

.nav-section ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-section svg{
  cursor: pointer;
}
.nav-section ul li{
  list-style-type: none;
  padding:5px 10px;
  cursor: pointer;
}

video {
  height: 100vh;
  width: 100%;
}
.thubmanilimage{
  height:170px;
  width: 130px;
  padding: 5px;
  
}
.thubmanilimage span{
  height:170px !important;
  width: 130px !important;
}
.thubmanilimage img{
  height: 100%;
  width:100%;
  object-fit: cover;
  object-position: center;
}
.thubmanilimage img:hover{
  transform: scale(1.5);
}
.video-player .info-footer{
  height: 0 !important;
}
.video-player button{
  display: block;
  margin-top: 20px;
  cursor: pointer;
}